.booth_menu {
    height: 54px;
    background-color: #211C2F;
    border-bottom: #34344A solid 1px;
    text-align: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin-top: 50px;
}

.booth_menu li {
    display: inline-block;
    margin: 0px 8px !important;
    width: 80px;
    height: 54px;
    line-height: 54px;
    opacity: 1 !important;
}

.booth_menu a {
    font-size: 16px;
    color: #fff;
    display: inline-block;
}

.booth_menu a:hover {
    color: #F16973;
}

.booth_menu .on {
    font-weight: 700;
    color: #F16973;
    height: 50px;
    border-bottom: solid #F16973 4px;
}

.booth_content {
    padding: 4rem 0;
}


/* 부스리스트 */

.booth_row {
    margin: 40px 0 16px 0;
}


#list {
    padding-bottom: 40px;
    margin: 0 auto;
    max-width: 1200px;
}

#list .card {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

#list .boothname p{
    font-size: 20px;
    font-weight: 800;
}

#list .boothcut {
    margin: 24px 0;
}

.boothcut img{
    width: 100%;
    display: inline-block;
}

#list .description {
    font-size: 13px;
    opacity: 0.7;
    line-height: 20px;
    margin: 8px 0;
}

@media (max-width: 1024px){

    #list {
        max-width: 800px;
    }
}

@media (max-width: 768px){

    .booth_menu {
        margin-top: 68px;
    }

    .boothdesk {
        width: 100%;
    }
}

@media (max-width: 600px) {

    #list {
        column-count: 1;
        max-width: 500px;
    }

    .booth_menu {
        height: 38px;
    }

    .booth_menu li {
        height: 38px;
        line-height: 36px;
    }

    .booth_menu a{
        font-size: 14px;
    }

    .booth_menu .on {
        height: 36px;
        border-bottom: solid #f16973 2px;
    }

    .booth_content {
        padding: 1rem 0;
    }

    iframe {
        width: 100%;
        margin: 16px auto;
        height: 1680px;
    }

    #list .card {
        width: 80%;
        display: inline-block;
    }

    .boothcut img{
        width: 100%;
        display: inline-block;
    }

}