/* reset */
/* 여백 초기화 */
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0;padding:0;}

/* a 링크 초기화 */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* 폰트 초기화 */
body, input, textarea, select, button, table {font-family: 'Noto Sans KR', 'AppleSDGothicNeo-Regular','Malgun Gothic', sans-serif; color: #222; font-size: 13px; line-height: 1.5;}

/* style */

/* 레이아웃 */

body {
    background-color: #211C2F;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.title {
    text-align: center;
    padding-top: 99px;
    margin: 3rem 0;
}

.title p {
    font-size: 16px;
    line-height: 26px;
}

.title a {
    color: #fff;
    text-decoration: underline;
}

.title a:hover {
    color: #F16973;
}

footer {
    background-color: #211C2F;
    height: 70px;
    text-align: center;
    margin-top: 3rem;
}

/* 컨테이너 */
.container {
    position: relative;  
    width: 1200px; 
    margin: 0 auto;
}

/* 헤더 */

#header {
    background-color: #29293B;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.30);
}

.header {
    padding: 30px 0;
}

.header .header_menu {
    vertical-align: middle;
}

.header_menu .left_wrap {
    display: inline-block;
}

.header_menu .right_wrap {
    display: inline-block;
    float: right;
}

.header_menu img {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    margin-right: 40px;
}

.menu {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    font-family: 'Racing Sans One', cursive;
    font-size: 24px;
    margin: 0 20px;
}

.menu .on {
    color: #F16973;
    text-decoration-line: underline;
}

.menu:hover {
    color: #F16973;
    text-decoration-line: underline;
    cursor: pointer;
}

/*mobile-header*/





/*banner*/
#banner {
    background: url(../img/banner.png);
    background-color: #b8a18c;
    background-repeat: no-repeat;
    background-position: center;
    height: 460px;
    margin-top: 99px;
}

.banner {
    height: 460px;
}

/*about*/
#about_twitter {
    padding: 4rem 0;
    background-color: #34344A;
    display: flex;
}

#about_twitter .row {
    display: flex;
    animation: transform 1s, all 1s ease;
}

.about {
    width: 65%;
    margin-right: 2rem;
    display: inline-block;
}

.number>span {
    font-size: 110px;
    font-family: 'Racing Sans One', cursive;
    line-height: 130px;
    margin-top: 1rem;
    color: #fff;
}

/*about-process*/

.process {
    display: flex;
}

.step {
    width: 20%;
    margin-top: 1rem;
    text-align: left;
}

.icon>img{
    height: 56px;
}

.line {
    display: flex;
}

.circle {
    height: 12px;
    width: 12px;
    background-color: #4C4C6C;
    border-radius: 50%;
    display: inline-block;
    margin: 1rem 0;
}

.circle_on {
    height: 12px;
    width: 12px;
    background-color: #F16973;
    border-radius: 50%;
    display: inline-block;
    margin: 1rem 0;
}

.rectangle {
    height: 4px;
    width: 85%;
    padding-left: 12px;
    background-color: #4C4C6C;
    display: inline-block;
    margin: 1.25rem 0;
}

.rectangle_done {
    height: 4px;
    width: 85%;
    padding-left: 12px;
    background-color: #F16973;
    display: inline-block;
    margin: 1.25rem 0;
}


.rectangle_doing {
    height: 4px;
    width: 85%;
    padding-left: 12px;
    background: linear-gradient( to right, #F16973,#4C4C6C );
    display: inline-block;
    margin: 1.25rem 0;
}

.rectangle_end {
    height: 4px;
    width: 85%;
    padding-left: 12px;
    background: linear-gradient( to right, #4C4C6C, #34344A);
    display: inline-block;
    margin: 1.25rem 0;
}


.btn_apply {
    background-color: #F16973;
    border-radius: 4px;
    border: none;
    padding: 10px 14px;
    text-align: center;
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
}

.btn_apply a{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

.btn_apply:hover {
    background-color: #FF949C;
    border-color: #FF949C;
    color: #ffffff;
}

/*twitter*/
.twitter {
    width: 35%;
    display: inline-block;
}

/*info*/

#info {
    padding: 3rem 0;
    text-align: center;
    background-color: #211C2F;
    background: url(../img/pattern.png);
    background-repeat: repeat;
}

.card_wrap {
    width: 80%;
    display: flex;
    margin: 0 auto;
    animation: transform 1s, all 1s ease;
}



.card {
    width: 50%;
    margin: 0.5rem;
    padding: 2rem;
    background: #34344A;
    box-shadow: 4px 4px 16px 0 rgba(0,0,0,0.30);
    border-radius: 8px;
    text-align: left;
    display: inline-block;
}

.card ul li {
   left : 1rem;
}

.card>h3 {
    margin-bottom: 1.5rem;
}


/*Contat form*/

#contact {
    background-color: #211C2F;
    display: block;
}

.form_container {
    display: block;
    width: 700px;
    margin: 0 auto;
}

.pure-group {
    display: block;
    padding: 10px 0;
    border: none;
}

input {
    height: 40px;
    width: 30%;
    border: none;
    border-radius: 4px;
    padding: 8px;
}

textarea {
    width: 85%;
    border: none;
    border-radius: 4px;
    padding: 8px;
}

label {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    width: 15%;
    vertical-align: top;
}

.send_contact {
    display: block;
    width: 200px;
    height: 48px;
    background: #F16973;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin: 1.5rem auto;
    cursor: pointer;
}

/* The Modal (background) */
#modal { /* Hidden by default */
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 26% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    border-radius: 4px;
    width: 300px;
    text-align: center;        
}

.modal-content .modal_txt {
    font-size: 20px;
    color: #34344A;
    text-align: center;
}

/* The Close Button */
#modal_close_btn {
    color: #aaa;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 16px;
    border-radius: 4px;
    border: solid #aaa 1px;
    margin-top: 20px;
}

#modal_close_btn:hover,
#modal_close_btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*폰트*/
h1 {
    font-family: 'Racing Sans One', cursive;
    font-size: 42px;
    line-height: 48px;
    color: #F16973;
    border-bottom: solid #F16973 2px;
    display: inline-block;
    margin-bottom: 2rem;
}

h2 {
    font-family: 'Noto Sans KR', 'AppleSDGothicNeo-Regular', sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}


h3 {
    font-family: 'Noto Sans KR', 'AppleSDGothicNeo-Regular', sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 8px;
}

p {
    font-family: 'Noto Sans KR', 'AppleSDGothicNeo-Regular', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: normal;
}

.subtxt {
    color: #fff; opacity: 0.6;
}

ul
li {
    position: relative;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    width: calc(100% - 1rem);
    color: #fff;
    opacity: 0.6;
    padding-right: 10px;
}

@keyframes transform {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



/* mediaquery */
/* 화면 너비 0~1220px */
@media (max-width: 1220px){
    .container {width: 100%;}
    .row {padding: 0 2rem;}
}

@media (max-width: 1024px){

    .row {padding: 0 1.5rem;}

    #about_twitter {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    #about_twitter .row {
        display: block;
        padding: 1rem;
    }


    .about {
        width: 80%;
        display: block;
        margin: 4rem auto;
    }

    .twitter {
        width: 80%;
        display: block;
        margin: 4rem auto;
    }

    .txt {
        text-align: left;
    }

    .card_wrap {
        width: 100%;
    }

    .form_container {
        width: 80%;
    }
}

@media (max-width: 768px){

    .row {padding: 0 1rem;}

    .container {
        position: relative; 
        width: 100%;
        margin: 0 auto;
    }
    
    /* 헤더 */
    
    .header {
        padding: 20px 0;
    }
    
    .header .header_menu {
        text-align: center;
        display: block;
    }
    
    .header_menu .left_wrap {
        width: 100%;
        display: block;
        text-align: center;
    }
    
    .header_menu .right_wrap {
        width: 100%;
        display: block;
        float: none;
        margin-top: 20px;
    }
    
    .header_menu img {
        display: inline-block;
        height: 32px;
        margin-right: 0;
    }

    .menu {
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        font-family: 'Racing Sans One', cursive;
        font-size: 20px;
        margin: 0 20px;
    }

    .card_wrap {
        display: block;
    }

    .card {
        width: 80%;
        display: block;
        margin: 1rem auto;
    }

    .about {
        width: 90%;
        display: block;
        margin: 4rem auto;
    }

    .process {
        display: flex;
        text-align: center;
        margin: 1rem auto;
    }

    .step {
        width: 100%;
        margin-top: 1rem;
        text-align: center;
        display: block;
    }
    
    .icon>img{
        width: 100px;
        display: inline-block;
        margin-bottom: 1rem;
    }

    .txt {
        text-align: center;
        margin-bottom: 2rem;
    }

    
    .line {
        display: none;
    }
    
    .circle {
       display: none;
    }
    
    .circle_on {
        display: none;
    }
    
    .rectangle {
        display: none;
    }
    
    .rectangle_doing {
        display: none;
    }

    .rectangle_done {
        display: none;
    }
    
    .rectangle_end {
        display: none;
    }
    
    
    .btn_apply {
        background-color: #F16973;
        border-radius: 4px;
        padding: 10px 14px;
        text-align: center;
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        font-family: 'Lato', sans-serif;
        margin-top: 1rem;
    }
    
    .btn_apply:hover {
        background-color: #FF949C;
        border-color: #FF949C;
        color: #ffffff;
    }

    label {
        display: block;
        margin-bottom: 16px;
        width: 100%;
    }

    input {
        width: 60%;
    }

    textarea {
        width: 100%;
    }

}

@media (max-width: 500px) {
    .menu {
        font-size: 16px;
        margin: 0 4px;
    }

    .about {
        width: 90%;
        margin: 2rem auto;
    }

    .twitter {
        min-width: 100%;
        margin: 2rem auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .process {
        display: inline-block;
        text-align: center;
        margin: 1rem auto;
    }

    .step {
        width: 100%;
        margin-top: 1rem;
        text-align: center;
        display: block;
    }
    
    .icon>img{
        width: 100px;
        display: inline-block;
        margin-bottom: 1rem;
    }

    .txt {
        text-align: center;
        margin-bottom: 2rem;
    }

    .title p {
        font-size: 12px;
        line-height: 22px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 40% auto; /* 15% from the top and centered */
    }

}